{% extends "base.html" %}

{% block title %}Home - My Blog{% endblock %}

{% block content %}
<header class="bg-primary text-white py-3 mb-4">
    <div class="container">
        <h1>Welcome, {{ user.username }}!!!</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'weblog:home' %}">
                    <button type="button" class="btn btn-light">Home</button>
                </a>
                <a class="nav-link" href="{% url 'weblog:user_list' %}">
                    <button type="button" class="btn btn-light">Users info</button>
                </a>
                <a class="nav-link" href="{% url 'weblog:add_blog' %}">
                    <button type="button" class="btn btn-light">Add Blog</button>
                </a>
                <a class="nav-link" href="{% url 'weblog:logout' %}">
                    <button type="button" class="btn btn-light">Logout</button>
                </a>
            </div>
        </nav>
    </div>
</header>

<div class="container">
    <h2 class="mb-4">Blog Posts</h2>
    <ul class="list-group">
        {% for blog in posts %}
        <li class="list-group-item mb-2">
            <h3><a href="{% url 'weblog:blog_detail' blog.id %}">{{ blog.title }}</a></h3>
            <p><strong>Status:</strong> {{ blog.status }}</p>
            <p><strong>Author:</strong> {{ blog.author }}</p>
            <p>{{ blog.description }}</p>
            <div class="d-flex justify-content-between">
                <a href="{% url 'weblog:blog-update' blog.id %}">
                    <button type="button" class="btn btn-primary btn-sm">Update</button>
                </a>
                <a href="{% url 'weblog:blog-delete' blog.id %}">
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
