{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="form">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in u_form %}
                    <div class="form-group">
                        <label for="">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}